[submodule "node-ar-drone"]
	path = node_modules/node-ar-drone
	url = https://github.com/felixge/node-ar-drone.git

[submodule "node_modules/png"]
	path = node_modules/png
	url = https://github.com/devongovett/png.js

